
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta property="og:title" content="Check whether the iPhone 6 is available for sale on the Apple Store." />
    <meta property="og:site_name" content="iPhone 6 Availability Status"/>
    <meta property="og:url" content="http://ip6.yc.sg" />
    <meta property="og:description" content="See at a glance if the iPhone 6 is available for sale on the Apple Store for Singapore, 
    Hong Kong, Taiwan and Australia." />
    <meta property="og:image" content="http://s3-ap-southeast-1.amazonaws.com/yc.sg/ip6/ip6availability.jpg">
    <meta property="og:image:type" content="image/jpeg">
    <meta property="og:image:width" content="1280">
    <meta property="og:image:height" content="719">

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Wysie_Soh" />
    <meta name="twitter:title" content="iPhone 6 Availability Status" />
    <meta name="twitter:description" content="See at a glance if the iPhone 6 is available for sale on the Apple Store for Singapore, 
    Hong Kong, Taiwan and Australia." />
    <meta name="twitter:image" content="http://s3-ap-southeast-1.amazonaws.com/yc.sg/ip6/ip6availability.jpg" />
    <meta name="twitter:url" content="http://ip6.yc.sg" />

    <title>iPhone 6 Availability Status</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{{ static_url("css/sticky-footer.min.css") }}">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://d1fxtkz8shb9d2.cloudfront.net/sockjs-0.3.min.js"></script>

    <style>
    .parent {
        display: table;
        table-layout: auto;
    }

    .child {
        display: table-cell;
        vertical-align: middle;
        width: 80px;
    }
    </style>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-55032538-1', 'auto');
      ga('require', 'displayfeatures');
      ga('require', 'linkid', 'linkid.js');
      ga('send', 'pageview');
    </script>
  </head>

  <body role="document">
    <script>
      window.fbAsyncInit = function() {
        FB.init({
          appId      : '852394364780336',
          xfbml      : true,
          version    : 'v2.1'
        });
      };

      (function(d, s, id){
         var js, fjs = d.getElementsByTagName(s)[0];
         if (d.getElementById(id)) {return;}
         js = d.createElement(s); js.id = id;
         js.src = "//connect.facebook.net/en_US/sdk.js";
         fjs.parentNode.insertBefore(js, fjs);
       }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="container theme-showcase" role="main">
      <div class="page-header">
        <h1>iPhone 6 Availability Status <small>Source: Apple Store Online</small></h1>
      </div>
      <div class="row">
        <div class="col-sm-12 parent">
          <div class="child">
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://ip6.yc.sg" data-text="Check if the #iPhone is available on the Apple Store for Singapore, Hong Kong, Taiwan and Australia!" data-via="Wysie_Soh">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
          </div>

          <div class="child fb-like" data-href="http://ip6.yc.sg" data-width="150" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12"><p><em>This page pulls the data from the Apple Store and refreshes every 60 seconds automatically.</em> <span class="label label-default">Last updated: <span id="lastUpdated"></span></span></p></div>
      </div>
      <div class="row">
        <div class="col-sm-12"><p>Please select a country. <em>Price is displayed in the currency of the selected country.</em></p></div>
      </div>
      <!--
      <div class="btn-group countries">
        <button type="button" class="btn btn-default" id="btnsg">Singapore</button>
        <button type="button" class="btn btn-default" id="btnhk">Hong Kong</button>
        <button type="button" class="btn btn-default" id="btntw">Taiwan</button>
        <button type="button" class="btn btn-default" id="btnau">Australia</button>
      </div>
      -->

      <ul class="nav nav-pills countries">
        <li class="active"><a href="#">Singapore</a></li>
        <li><a href="#">Hong Kong</a></li>
        <li><a href="#">Taiwan</a></li>
        <li><a href="#">Australia</a></li>
      </ul>
      <div class="row">
        <div class="col-sm-12"><h2>iPhone 6 Plus</h2></div>
      </div>
      <div class="row" id="iphone6plus">
      </div>
      <div class="row">
        <div class="col-sm-12"><h2>iPhone 6</h2></div>
      </div>
      <div class="row" id="iphone6">
      </div>
    </div> <!-- /container -->

    <div class="footer">
      <div class="container">
        <p class="text-muted">Made by <a href="https://twitter.com/Wysie_Soh">@Wysie_Soh</a>. Please let me know via Twitter if there are any bugs or suggestions. Source <a href="https://github.com/Wysie/iphone6-availability-check">here</a>.</p>
      </div>
    </div>

    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="{{ static_url("js/process.min.js") }}"></script>
    <script>
      var rawData = {% raw data %}
      processResults(rawData, "sg");
      processTime(rawData);
    </script>
  </body>
</html>
